* {
    border: 0px;
}

body {
    background-image: url(TG.jpg);
    background-size: cover;

}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 42px;
}

.livro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    width: 1300px;
    position: absolute;
    height: 800px;
    left: 30px;
}


.bandeira {
    height: 40vh;
    width: 100%;
    border-radius: 12px;
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.paginaAnterior {
    position: relative;
    display: flex;
    bottom: 200px;
    left: 30px;
    border-radius: 12px;
    border: 0px;
    padding: 15px;
    cursor: pointer;
}

.proximaPagina {
    position: relative;
    display: flex;
    bottom: 250px;
    left: 1200px;
    border-radius: 12px;
    border: 0px;
    padding: 15px;
    cursor: pointer;
}

.voltar {
    text-decoration: none;
    font-size: 42px;
    color: white;
    border: 3px solid gray;
    padding: 5px;
    border-radius: 12px;
    display: inline-block;
    position: relative;
    top: 70px;
    cursor: pointer;
}

.curiosidade2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
    position: relative;
    top: 55px;
}

.curiosidade {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    position: relative;
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    color: white;
    top: 22px;
}


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 42px;
    position: relative;
}

.capa {
    position: relative;
    width: 455px;
    top: 30px;
    height: 590px;
    left: 180px;
    border-radius: 12px;
}

.pag1 {
    position: relative;
    width: 450px;
    top: 30px;
    height: 590px;
    left: 260px;
    border-radius: 12px;
}

@media screen and (max-width:768px) {

    .bandeira {

        width: 100%;
        height: 100%;

    }


    .titulo {
        font-size: 14px;
        text-align: center;
    }

    .livro {

        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 2.7px;
    }

    .capa {

        width: 37%;
        height: 175px;
        top: -230px;
        left: 45px;

    }

    .pag1 {
        width: 37%;
        height: 175px;
        top: -230px;
        left: 49px;
    }

    .paginaAnterior {

        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100px;
        left: 10px;
        position: relative;
        bottom: 192px;
    }

    .proximaPagina {
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100px;
        left: 240px;
        position: relative;
        bottom: 255px;
    }

    .voltar {

        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        top: -190px;

    }

    .curiosidade2 {

        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: -160px;
        border-top: 5px solid yellow;
        border-radius: 6px;

    }

    .curiosidade {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: -160px;
        border-bottom: 5px solid yellow;
        border-radius: 6px;
        font-size: 21px;
    }


h2{

font-size: 22px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
bottom: 75px;

}

}